body {
  background-image: url(../img/background.png);
}

a {
  color: #3b455d;
}

.dInline{
  display: inline;
}

.dflex {
  display: flex;
}

.alignItemsCenter {
  display: flex;
  align-items: center;
}

a[class^="hvr-"] {
  background: #e3e8ef;
  color: #556479;
  font-weight: bold;
}

a.hvr-fade:hover,
a.hvr-fade:focus,
a.hvr-fade:active {
  background-color: #21386f;
  color: #d7def1;
}

a.hvr-radial-out:before {
  background-color: #21386f;
  color: #d7def1;
}

.customHeaderPage {
  color: #031235;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px #caced4;
}

.containerActions {
  height: 20%;
}

.containerElement {
  background: #f7f7f7;
}

.infoOfertaList {
  padding: 10px;
}

.infoOfertaList {
  position: relative;
  border-bottom: 1px solid #d8dbdc;
  transition: all 0.3s ease-in-out;
  border-left: 1px solid #d8dbdc;
  border-right: 1px solid#d8dbdc;
}

.infoOfertaList:first-child {
  border-top: 1px solid #d8dbdc;
}

.infoOfertaList:hover {
  background-color: #809ead;
}

.customTable {
  background: white;
  border: 1px solid #ebecec;
  box-shadow: 0px 0px 6px #e4e7ea;
  border-radius: 5px;
}

.noData {
  color: #3b455d;
  display: flex;
  flex-direction: column;
}

.noData i {
  font-size: 40px;
}

.font-size-xl {
  font-size: 40px !important;
}

/*** TABLES STYLES ***/

div.headerList {
  background-color: #f5f7fa;
  padding: 10px 0px;
  border-bottom: 1px solid #e9ecef;
  text-transform: uppercase;
}

div.headerList > div {
  font-weight: bold;
}

div.listStyle div.itemList {
  color: #616e7c;
  padding: 10px 0px;
  border-bottom: 1px solid #e9ecef;
  text-align: left;
  transition: all 0.3s ease-in-out 0s;
}

div.listStyle div.itemList:hover {
  background-color: #eceff33d;
}

/*******/

/*** ANIMATION DELAY ***/

.delay-0-5s {
  animation-delay: 0.5s;
}

.delay-1-5s {
  animation-delay: 1.5s;
}

/*******/

/*** GRID STACK ***/

.grid-stack-item[data-gs-height="1"] {
  min-height: 40px !important;
  height: 40px !important;
}

.grid-stack-item > div.grid-stack-item-content {
  background: #0000000a;
}

/******/

/*** COLOR PICKER STYLE ***/

div.sp-replacer {
  width: 5em;
  height: 2em;
  border: 1px solid #d4dae3;
}

/******/
